.NewClientForm{
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 250px;
    margin: auto;
}

.NewClientInput{
    height: 35px;
    font-size: 0.8rem;
    margin-top: 5px;
    padding-right: 10px;
}

.SaveNewClient{
    margin-top: 10px;
    height: 35px;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: #6C7479;
    margin-bottom: 5px;
    color: white;
}