

.clientCard{
    border: 1px solid gray;
    text-align: right;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    direction: rtl;
    margin-top: 10px;
}

.clientCardCOntainer{
    direction: rtl;
    display: flex;
}